body {
    background-color: #222629;
}


ul {
    position:sticky;
    top:0;
    width:95%;
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}

.button {
    text-decoration: none;
    background-color: #86C232;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.875em; /* em is for the default value for font 1em = 16px, so 30/16px == 1.875em */
    color: #000000;
    border-radius: 15px;
    border: none;
    display: inline-block;
    margin: 0px 20px;
    margin-top: 20px;
    padding: 15px 60px;
}
.button1 {
    width: 150px;
    background-color: #C4C4C4;
    margin-bottom: 40px;
    display:block;
}
.button:hover {
    background-color: #61892F;
}
.button:active {
    background-color: #61892F;
}

.center {
    text-align: center;
}

.circle {
    margin-left: 40%;
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #C4C4C4;
}

.text {

    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.875em; /* em is for the default value for font 1em = 16px, so 30/16px == 1.875em */
    color: #C4C4C4;

}

.float_left {

    float: left;
    width: 25%;

}


.input {
    background-color: #c4c4c4;
    color: black;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.875em; /* em is for the default value for font 1em = 16px, so 30/16px == 1.875em */
    border-radius: 15px;
    margin: 30px 20px;
    padding: 10px 10px;
}

.gal {
    position: static;
    margin-left: 30%;
}

.but {
    background-color: #86C232;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.but:hover {
    background-color: #61892F;
}